<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar Customer</title>
    <style>
        /* Tambahkan CSS sesuai kebutuhan */
    </style>
</head>
<body>
    <nav>
        <ul>
            <li><a href="dashboard-user.html">Dashboard Pengguna</a></li>
            <li><a href="reservasi-user.html">Reservasi Pengguna</a></li>
            <li><a href="pemesanan-kamar.html">Pemesanan Kamar</a></li>
            <li><a href="logout.html">Logout</a></li>
        </ul>
    </nav>
</body>
</html>
