<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <form method="POST" action="">
    {% csrf_token %}
    <fieldset>
      <legend> FORM BUAT BAHAN MAKANAN </legend>
      <label for="ingredient">Bahan Makanan:</label><br>
      <input type="ingredient" id="ingredient" name="ingredient"><br><br>
      <input type="submit" value="Submit"><br>
    </fieldset>
  </form>
  <p>{{message}}</p>
</body>
</html>
