<!-- update_reservation.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Update Pembayaran</title>
    <style>
        .card {
            max-width: 500px;
            margin: auto;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            background-color: #fff;
            display: block;
            justify-content: center;
            align-items: center;
        }

        .center {
            margin: 0;
            position: relative;
            left: 50%;
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
        }
    </style>
</head>
<body>


<div class="card">
    <h2>Update Pembayaran</h2>
    <form method="post">
        {% csrf_token %}
        <label for="new_status">New Status:</label>
        <select name="new_status" onchange="">
            <option value="">--Please choose an option--</option>
            <option value="confirming">Menunggu Konfirmasi Pihak Hotel</option>
            <option value="confirmed">Terkonfirmasi oleh Hotel</option>
            <option value="denied">Ditolak oleh Hotel</option>
        </select>
        <br><br>
        <input type="submit" value="Update">
    </form>
</div>

</body>
</html>
